<!-- posts_list.html -->
<template name="houseAndHomeList">
  <div class="users">
    {{#each users}}
      hello
    {{/each}}
  </div>

  <form class="add-user-task">
    <input type="text" name="userName" placeholder="Enter username" />
    <input type="text" name="address" placeholder="Enter address" />
    <input type="text" name="city" placeholder="Enter city" />
    <input type="text" name="state" placeholder="Enter state" />
    <input type="text" name="zip" placeholder="Enter zip" />
    <input type="submit" value="Submit">
  </form>
</template>